@CHARSET "UTF-8";

/** 사이드 메뉴 스크롤바 */
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #555555;
    width: 6px;
    height: 10px;
}

::-webkit-scrollbar
{
    width: 6px;
    height: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 3px;
    background-image: -webkit-gradient(linear,
                                       left bottom,
                                       left top,
                                       color-stop(0.44, rgb(238, 238, 238)),
                                       color-stop(0.72, rgb(238, 238, 238)),
                                       color-stop(0.86, rgb(238, 238, 238)));
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}