* {
	margin: 0;
	padding: 0;
	font-family: Consolas;
}

input[type=text], input[type=number] {
    line-height: 16px;
    height: 18px;
}

#canvasView {
	position: relative;
	height: calc(100vh - 226px);
	overflow: hidden;
	margin: 0px auto;
	padding: 0;
}

#consoleView {position:relative; height: 200px;	background-color: #444444; color: white; }
.console {overflow: auto; flex:1; display: flex;}
.console .console-pre {flex:1; background: #1e1e1e; border:none; color:white;border-radius: 0; width:100%; margin:0;}

#detailView {
	/* height: calc(100vh - 31px); */	
	flex: 1;
	padding: 5px;
	overflow: auto;
	background-color: #252526;
}

#wrapper {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
#page-wrapper {
	padding: 0;
	margin-right: 300px;
}

#detail-wrapper {
	width: 300px;
	height: 100vh;
	position: absolute;
	right: 0;
	top: 0;
}

#blockView {
	height: calc(100vh);
	background-color: #333333;
	overflow-y: auto;
}

/* navigation */ 
.nav > li.active {
    background-color: #000000;
}
/* Second level list */
.nav-2-level > li > a:hover {
	background-color: #000000 !important;
}
.nav-2-level > li.active > a {
	background-color: #000000 !important;
}
.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus {background-color: #000000;}
.nav>li>a {
	padding: 10px 10px;
}
.nav-2-level>li> a {padding: 5px 20px;}
.nav-3-level>li> a {padding: 5px 30px;}
.nav-subset {max-height: 268px; border-top: 2px solid; overflow-y: auto;}
.nav-subset > li > a {padding-left: 30px;}
.nav-2-level > li.active, .nav-3-level > li.active {border: none;}
.tabs-container .nav-tabs {border-bottom: none; background: #555555;}
.tabs-container .nav-tabs > li {margin:0; border-right: 1px solid #555555; background-color:#383838;}
.tabs-container .nav-tabs > li:hover {background-color: #000000}
.tabs-container .nav-tabs > li > a {margin:4px 10px; padding: 5px; color: white; background-color: #444444; border-radius:0; font-weight: normal;}
.tabs-container .nav-tabs > li.active > a {padding: inherit; background-color: inherit; border:none;}
.tabs-container .nav-tabs > li.active > a:hover {color: white; border:none; background-color:inherit}
/* Second level list */
.nav-3-level > li > a:hover {
	background-color: rgb(25, 143, 170) !important;
}
.nav-3-level > li.active > a {
	background-color: rgb(25, 143, 170) !important;
}

#canvas {
	position: absolute;
	width: 200%;
	height: 200%;
	min-width: 200%;
	min-height: 200%;
	left: 0;
	top: 0;
	background-size: 30px 30px;
	background-image: linear-gradient(to right, #373737 1px, transparent 1px),
					  linear-gradient(to bottom, #373737 1px, transparent 1px),
					  linear-gradient(0deg, transparent 79px, #000 79px, #000 81px, transparent 81px);	
}

#canvasSvg {left:0; top:0;}

#scaleDiv {
	position: absolute;
	border: 1px solid white;
	color: white;
	font-weight: bold;
	font-size: 12px;
	padding: 10px;	
	z-index: 5;
	left: 10px;
	top: 10px;
	opacity: 1;
}

/* Block component */
.block-component {
	position: absolute;
	border: 2px solid green;	
	border-radius: 10px;
	background: rgba(220, 220, 220, 0.1);	
	box-sizing:border-box;	
	/* overflow: hidden; */
	box-shadow: inset 0 0 0 #009500, 0 5px 0 0 rgba(0, 149, 0, 0.41), 0 10px 5px #000000;
}

.block-title {
	background: radial-gradient(at top, rgba(55, 169, 55, 0.7) 20%, rgba(0,0,0,0.3), rgba(0,0,0,0.3));
	color: white;
	text-align: center;
	font-size: 13px;	
	vertical-align: middle;
	padding: 5px 30px;	
}
.block-title:hover {
	cursor: default;
}

.output-name, .input-name {
	color: white;
}
.output-name:hover, .input-name:hover {
	cursor: default;
}

.block-title.get {
	background: rgb(55, 169, 55);
}

/* input edge */
.separator {clear:both; width:0; height:0;}
.input {	
	float: left;
	vertical-align: middle;
	margin-right: 5px;
}
.input-container {
	padding: 3px;
	height: 28px;	
}
.input-edge {
	width: 12px;
	height: 12px;
	border: 3px solid green;
	border-radius: 76px;
	display: inline-block;
	vertical-align: middle;
}
.input-container.active .input-edge,
.input-container.drag .input-edge {
	background: #18f518;
}
.input-container.active input {
	visibility: hidden;
}
.input-container input {
	vertical-align: middle;
}
.input-container .input-name {
	margin-left: 3px;
	vertical-align: middle;
}
.input-container .input-name:hover {
	cursor: default;
}
.input-value {
	width: 40px;
	margin-top: 3px;	
	margin-left: 4px;
	display: inline-block;
	float: right;
}
.input-value.checkbox {
	width: inherit;	
	margin-left: 3px;
	margin-top: 6px;
}
/* output edge */
.output {
	float: right;
	vertical-align: middle;
}
.variable {
	border: 2px solid rgba(149, 0, 0, 1);	
	border-radius: 10px;
	background: rgba(220, 220, 220, 0.1);	
	box-sizing:border-box;	
	/* overflow: hidden; */
	box-shadow: inset 0 0 0 rgba(149, 0, 0, 1), 0 5px 0 0 rgba(149, 0, 0, 0.41), 0 10px 5px #000000;
}
.variable .block-title {
	float: left;
	background: radial-gradient(at top, rgba(169, 55, 55, 0.7) 20%, rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}
.variable .output {
	padding-top:2px;
	background-color: rgba(0,0,0,0.3);
}

.event {
	border: 2px solid rgba(0, 0, 250, 1);	
	box-shadow: inset 0 0 0 rgba(0, 0, 250, 1), 0 5px 0 0 rgba(0, 0, 250, 0.41), 0 10px 5px #000000;
}
.event .block-title {
	background: radial-gradient(at top, rgba(55, 55, 250, 0.7) 20%, rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.output-container {
	padding: 3px;	
	height: 28px;
	text-align: right;
}
.output-edge {
	width: 12px;
	height: 12px;
	border: 3px solid red;
	border-radius: 6px;
	display: inline-block;
	vertical-align: middle;
}
.output-container.active .output-edge,
.output-container.drag .output-edge {
	background: #bd0000;
}
.output-container span {
	margin-right: 3px;
	vertical-align: middle;
}

/* event edge */
.input-event, .output-event {
	width: 12px;
	height: 12px;
	border: 2px solid white;
	display: inline-block;
	vertical-align: middle;
}
.input-event-container.active .input-event,
.output-event-container.active .output-event,
.input-event-container.drag .input-event,
.output-event-container.drag .output-event {
	background-color: rgba(255,255,255,1);
}
.input-event-container, .output-event-container {
	padding: 3px;
	height: 28px;
}
.output-event-container {
	text-align: right;
}
.input-event {
	border-radius : 6px 0px 0px 6px;
}
.output-event {
	border-radius : 0px 6px 6px 0px;
}
.edge-name {
	vertical-align:middle;
	margin: 0px 3px;
	color: white;
}
.edge-name:hover {
	cursor: default;
}

/* tool tip */
#tooltip {	
	display: none;
	position: absolute;
	border: 2px solid black;
	border-radius: 5px;
	left: 0px;
	top: 0px;
	padding: 5px;
	background-color: #eee;
	/* width: 100px; */
	z-index: 10;
}

/* connection */
#canvas svg {
	width: 100%;
	height: 100%;
}

/* detail */
#detail-tooltip {
	width: 100%;
	color: white;
	text-align: justify;
	margin-bottom: 10px;
}
#detail-label-container {
	display: inline-block;
	text-align: right;
}
#detail-field-container {
	display: inline-block;
	text-align: left;
}
.detail-label {
	minWidth: 10px;
	maxWidth: 50px;
	text-align: right;
	color: white;
	font-weight: bold;
	margin-right: 5px;
}
.detail-field {
	display: block;
	width: 100%;
}
/* active block */
.block-component.active {
	/* box-shadow:  0px 0px 20px orange; */
	border-color: orange;
}
.output.event-edge {float:inherit;}

/* properties */
#detailView {padding:0; color:white;}
#detailView table td {padding:3px;}
#detailView span {display:inline-flex; margin-bottom:5px;}
#detailView > div {padding:3px;}
#detailView select {font-weight: bold;}
#detailView input {padding:0 5px; min-width: 0px;}
#detailView input, select {color:black; font-size:12px; height:22px; vertical-align:middle; border-radius: 5px; margin-right: 5px;}

.container-title {font-weight:bold; display:inline-block; margin-bottom:5px;}
.input-container .btn {font-size:13px; padding:0 5px; vertical-align:middle; margin-bottom:5px;}
.input-container .btn:hover {color:inherit;}
.container-item {clear:both; margin-bottom:5px; background: #607a92; padding: 5px; border-radius: 5px; display:block;}
.container-item .input-label {width:100px;}
.container-item .input-type {width:100px;}

.order-wrap {width:10px; display:inline-block; vertical-align:middle; text-align:center;}
.order-wrap .order-up {height: 11px; width: 8px; border-bottom: 8px solid white; border-left: 5px solid transparent; border-right: 5px solid transparent; margin-bottom: 5px;}
.order-wrap .order-down {height: 11px; width: 8px; border-top: 8px solid white; border-left: 5px solid transparent; border-right: 5px solid transparent;}

.item-detail {margin-bottom:5px; clear:both; display:flex;}
.item-detail input, select {flex:1;}
.item-detail input[type=checkbox], .item-detail input[type=radio] {flex:inherit;}
.item-label {font-weight:bold; margin-right:10px; min-width:100px;}
.container-item .item-detail .item-label {min-width:95px;}

.btn-add {background:green; border:2px solid white; float:right;}
.btn-del {background:red; border:2px solid white; float:right;}

/* Debug */
#debugController {display: none; position: relative; width: 220px; background: rgb(56, 56, 56); top: 10px; z-index: 1; margin: 0 auto;}
#debugController > .material-icons {color: white; margin: 5px; cursor: pointer;}
#debugController > span > img {width: 30px; height: 30px;}
.break-point {display: block; width: 14px; height: 14px; border-radius: 7px; background: red; position: absolute; top: -4px; left: -4px; border: 2px solid white;}
.break-component.breaked {border: 2px solid blue; box-shadow: inset 0 0 0 blue, 0 5px 0 0 rgba(0,0,255,0.4), 0 10px 5px #000000;}
.break-component.breaked .break-point {background: blue;}

/* Watch */
.view {display: flex; flex-flow: column; border-top: 1px solid gray; background: #383838; flex: 1; height:0px;}
.view-title {color: white; padding: 3px 5px;}

#debugViewWrapper {display: none;}

.view-div {background: #252526; flex:1;}
#watch #watchList {list-style: none; padding: 9.5px}
#watch #watchList .watch-item {color:white; margin-bottom: 5px;}
#watch #watchList .watch-variable {margin-right: 15px;}
#watch #watchList .watch-value {color: greenyellow; border: 1px solid gray; border-radius: 2px; padding: 0 8px;}

.filter-sky {
	filter: invert(66%) sepia(36%) saturate(2244%) hue-rotate(185deg) brightness(107%) contrast(97%);
}

.filter-green {
	filter: invert(10%) sepia(9%) saturate(3428%) hue-rotate(78deg) brightness(93%) contrast(72%);
}

.filter-red {
	filter: invert(72%) sepia(11%) saturate(7019%) hue-rotate(316deg) brightness(101%) contrast(83%);
}